h1 {
    font-size: 65px;
    width: 1105px;
    height: 90px;
    font-family: '游明朝';
    color: rgb(142, 91, 199);
    background-color: rgb(124, 200, 223);
    }

a:link {
    color:rgb(118, 77, 216);
    text-decoration:underline;
    }

a:visited {
    color:rgb(216, 17, 206);
    text-decoration:underline;  
    }

.anime {
    font-family: serif;
    font-size: 40px;
    width: 240px;
    height: 50px;
    color: rgb(32, 113, 167);
    background-color: rgb(58, 170, 204);
   }

.isekai {
    font-family: serif;
    font-size: 40px;
    width: 245px;
    height: 50px;
    color: rgb(32, 113, 167);
    background-color: rgb(58, 170, 204);
}

.syousetu{
    font-family: serif;
    font-size: 40px;
    width: 360px;
    height: 50px;
    color: rgb(32, 113, 167);
    background-color: rgb(58, 170, 204);

}

.osusume{
    font-family: serif ;
    font-size: 40px;
    width: 320px;
    height: 50px;
    color: rgb(32, 113, 167);
    background-color: rgb(58, 170, 204);

}

.osusumeni{
    font-family: serif ;
    font-size: 40px;
    width: 320px;
    height: 50px;
    color: rgb(32, 113, 167);
    background-color: rgb(58, 170, 204);

}

.mokuzi{
    font-family: serif ;
    font-size: 40px;
    width: 80px;
    height: 50px;
    color: rgb(32, 113, 167);
    background-color: rgb(58, 170, 204);
}

.doutyuu{
    width: 300px;
}

.doutyuuni{
    width: 290px;
}

.doutyuusan{
    width: 320px;
}

h3 {font-size: 40px;
    width: 300px;
    height: 200px;
    color: rgb(32, 113, 167);
    background-color: rgb(58, 170, 204);
    }
body {color: rgb(93, 131, 158);
     }  


