h1 {
    font-size: 65px;
    width: 1105px;
    height: 90px;
    font-family: '游明朝';
    color: rgb(180, 115, 253);
    background-color: rgb(122, 203, 228);
    }

a:link {
    color:rgb(118, 77, 216);
    text-decoration:underline;
    }

a:visited {
    color:rgb(189, 17, 180);
    text-decoration:underline;  
    }

.anime {
    font-family: serif;
    font-size: 40px;
    width: 240px;
    height: 50px;
    color: rgb(69, 168, 235);
    background-color: rgb(133, 206, 228);
   }

.isekai {
    font-family: serif;
    font-size: 40px;
    width: 245px;
    height: 50px;
    color: rgb(69, 168, 235);
    background-color: rgb(133, 206, 228);
}

.syousetu{
    font-family: serif;
    font-size: 40px;
    width: 360px;
    height: 50px;
    color: rgb(69, 168, 235);
    background-color: rgb(133, 206, 228);

}

.osusume{
    font-family: serif ;
    font-size: 40px;
    width: 320px;
    height: 50px;
    color: rgb(69, 168, 235);
    background-color: rgb(133, 206, 228);

}

.osusumeni{
    font-family: serif ;
    font-size: 40px;
    width: 320px;
    height: 50px;
    color: rgb(69, 168, 235);
    background-color: rgb(133, 206, 228);

}

.mokuzi{
    font-family: serif ;
    font-size: 40px;
    width: 80px;
    height: 50px;
    color: rgb(69, 168, 235);
    background-color: rgb(133, 206, 228);
}

.dai{
    font-family: serif ;
    font-size: 20px;
    width: 700px;
    height: 50px;
    color: rgb(112, 233, 14);
}

.doutyuu{
    width: 300px;
}

.doutyuuni{
    width: 290px;
}

.doutyuusan{
    width: 320px;
}

h3 {font-size: 40px;
    width: 300px;
    height: 200px;
    color: rgb(32, 113, 167);
    background-color: rgb(58, 170, 204);
    }
body {color: rgb(79, 115, 141);
      background: rgb(196, 236, 233);
     }  


